In [13]:
n=42
print(n)

42

In [15]:
42=n
print(n)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (413578810.py, line 1)

In [17]:
x=y=1
print(x)
print(y)

1
1

In [19]:
print("hello world");

hello world

In [21]:
print("hello world").

SyntaxError: invalid syntax (2278407640.py, line 1)

In [23]:
x=1
y=6
print(xy)

NameError: name 'xy' is not defined

In [25]:
x=1
y=6
print(x*y)

6

In [27]:
r=5
V=(3/4)*pi*(r^3)
print(V)

14.137166941154069

In [33]:
n=60
coverprice=24.95*0.6*n
transport=3+(n-1)*0.75
Cost=coverprice+transport
print(Cost)

945.4499999999999

In [4]:
easypace = 8*60 + 15
tempopace = 7*60 + 12
totalrun = (2*easypace + 3*tempopace) / 60
breakfasttime = (6*60 + 52 + totalrun) / 60
print(totalrun)
print(breakfasttime)

38.1
7.501666666666667

In [6]:
word = 'banana'
count = 0
for letter in word:
    if letter == 'a':
        count = count + 1
print(count)

3

In [18]:
fruit = 'banana'
fruit[0:5:2]
fruit[::-1]

'ananab'

In [20]:
fruit = 'banana'
fruit[0]

'b'

In [54]:
word = 'banana'
def first(word):
    return word[0]
print(first(word))

b

In [22]:
fruit = 'banana'
fruit[5]

'a'

In [60]:
word = 'banana'
def last(word):
    return word[-1]
print(last(word))

a

In [44]:
fruit = 'banana'
fruit[1:-1]

'anan'

In [58]:
fruit = 'banana'
fruit[3:-3]

''

In [62]:
word = 'banana'
def middle(word):
    return word[1:-1]
print(middle(word))

anan

In [64]:
def is_palindrome(word):
    """Returns True if word is a palindrome."""
    if len(word) <= 1:
        return True
    if first(word) != last(word):
        return False
    return is_palindrome(middle(word))
print(is_palindrome("madam"))
print(is_palindrome("apple"))
print(is_palindrome("oppo"))
print(is_palindrome("redivider"))

True
False
True
True

In [79]:
def is_power(a,b):
    if a == b:
        return True
    if a == 1 or a == 0:
        return True
    if a % b != 0:
        return False
    return is_power(a//b,b)
print(is_power(64, 2))

True

In [85]:
def gcd(a,b):
    if b == 0:
        return a
    return gcd(b,a%b)
print(gcd(64,8))

8